.DS_Store
*.xml
*.iml
*.html
*.xml
/IBJ_documents/legal_country_documents/docs_in_md_json
/IBJ_documents/legal_country_documents/raw_pdfs
/IBJ_documents/legal_country_documents/raw_pdfs_2pages
/Plots
/Data
