.DS_Store
*.xml
*.iml
*.html
*.xml
/IBJ_documents/legal_country_documents/docs_in_md_json
/IBJ_documents/legal_country_documents/raw_pdfs
/IBJ_documents/legal_country_documents/raw_pdfs_2pages
/plots
/data/cache
/data/chroma_db
/data/completeness
/data/extracted_claims
/data/interim
/data/processed
/data/raw
/data/verified_claims
/html_pages/constitutions
/prompt
/test_veriscore
.env
/old_scripts
/veriscore/__pycache__
/veriscore