.DS_Store
*.xml
*.iml
*.html
*.xml
/IBJ_documents/legal_country_documents/docs_in_md_json
/IBJ_documents/legal_country_documents/raw_pdfs
/IBJ_documents/legal_country_documents/raw_pdfs_2pages
/Plots
/Data
/html_pages/constitutions
/prompt
/test_veriscore
.env
/old_scripts
/veriscore/__pycache__
veriscore/__init__.py
veriscore/claim_verifier.py
veriscore/extract_claims.py
veriscore/get_response.py
veriscore/retrieve_evidence.py
veriscore/search_API.py
veriscore/utils.py
veriscore/verify_claims.py
veriscore/veriscore.py
