-e .
beautifulsoup4
chromadb
collections
html2text
huggingface-hub
json5
json
jupyter
jupyterlab
matplotlib
numpy
openai
pandas
re
ruff
seaborn
selenium
tiktoken
tokenizers
tqdm
pytest==8.3.5
ruff==0.11.2
